<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% include "SplashBundle:core:bootstrap_cdn.html.twig" %}
{#    {% include "SplashBundle:themes:default.html.twig" %}#}
    {% include "SplashBundle:themes:slate.html.twig" %}
{#    {% include "SplashBundle:themes:solar.html.twig" %}#}
{#    {% include "SplashBundle:themes:superhero.html.twig" %}#}
{#    {% include "SplashBundle:themes:united.html.twig" %}#}
  </head>
  <body>
      {% block body %}{% endblock%}
  </body>
</html>      