<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    {% include "@Splash/core/bootstrap_cdn.html.twig" %}
{#    {% include "@Splash/themes/default.html.twig" %}#}
    {% include "@Splash/themes/slate.html.twig" %}
{#    {% include "@Splash/themes/solar.html.twig" %}#}
{#    {% include "@Splash/themes/superhero.html.twig" %}#}
{#    {% include "@Splash/themes/united.html.twig" %}#}
  </head>
  <body>
      {% block body %}{% endblock%}
  </body>
</html>      