<?xml version="1.0" encoding="UTF-8"?>

<!-- http://www.phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "true"
    bootstrap                   = "vendor/autoload.php" 
    verbose                     = "true"
    timeoutForLargeTests        = "10"  
>

    <testsuites>
        <testsuite name="Core">
            <directory>vendor/splash/validator/phpunit/Core</directory>
        </testsuite>
        <testsuite name="Admin">
            <directory>vendor/splash/validator/phpunit/WsAdmin</directory>
        </testsuite>
        <testsuite name="Objects">
            <directory>vendor/splash/validator/phpunit/WsObjects</directory>
        </testsuite>
    </testsuites>

    <logging>
        <junit outputFile="phpunit-report.xml"/>
    </logging>

    <php>
        <server name="KERNEL_CLASS" value="Splash\Bundle\Tests\Kernel" />
        <env    name="APP_ENV" value="test" force="true"/>
        <env    name="APP_DEBUG" value="false" force="true"/>
        <env    name="SYMFONY_DEPRECATIONS_HELPER" value="disabled" />
        <server name="SERVER_NAME" value="http://localhost:8000"/>        
        <const  name="SPLASH_DEBUG" value="true" />
        <server name="SPLASH_TRAVIS" value="true" />
    </php>
    
</phpunit>
