includes:
	- ../../../vendor/phpstan/phpstan-symfony/extension.neon
	- ../../../vendor/phpstan/phpstan-phpunit/extension.neon
	- ../../../vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
        bootstrap: "./vendor/splash/phpcore/Resources/grumphp/phpstan.php"
        universalObjectCratesClasses:
                - ArrayObject
        symfony:
                container_xml_path: %currentWorkingDirectory%/var/cache/dev/testContainer.xml # or srcDevDebugProjectContainer.xml for Symfony 4+