includes:
	- ../../../../../phpstan/phpstan-phpunit/extension.neon
	- ../../../../../phpstan/phpstan-doctrine/extension.neon
# Symfony Mode Disabled Up To NOW !!
#	- ../../../../../phpstan/phpstan-symfony/extension.neon
parameters:
    bootstrapFiles:
        - "%currentWorkingDirectory%/vendor/splash/phpcore/Resources/grumphp/phpstan.php"
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    inferPrivatePropertyTypeFromConstructor: true
    universalObjectCratesClasses:
        - ArrayObject
    ignoreErrors:
        - "#Casting to string something that's already string.#"
