includes:
	- ../../../vendor/phpstan/phpstan-symfony/extension.neon
	- ../../../vendor/phpstan/phpstan-phpunit/extension.neon
	- ../../../vendor/phpstan/phpstan-doctrine/extension.neon
parameters:
        bootstrap: "%currentWorkingDirectory%/vendor/splash/phpcore/Resources/grumphp/phpstan.php"
        checkMissingIterableValueType: false
        checkGenericClassInNonGenericObjectType: false
        inferPrivatePropertyTypeFromConstructor: true 
        universalObjectCratesClasses:
                - ArrayObject
        ignoreErrors:
                - "#Casting to string something that's already string.#"
        symfony:
                container_xml_path: %currentWorkingDirectory%/var/cache/dev/testContainer.xml # or srcDevDebugProjectContainer.xml for Symfony 4+